.editado {
    color: #9b9b9b;
    font-size: 10px;
    padding-top: 5px;
}

.message {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 3px;
    color: white;
}
