.message_info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.message_info_username {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.message_info_time {
    font-size: 12px;
    color: rgb(162, 162, 162);
    padding-top: 2px;
}