body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
}

.message_block_container {
  width: 500px;
  padding: 20px;
  display: flex;
  background-color: black;
  flex-direction: column;
  border: 1px solid black;
  gap: 10px;
  font-family: "Inconsolata", monospace;;
}